@page
@model HW.Pages.MyHobbiesModel
@{
    ViewData["Title"] = Model.PageName;
}
<h1 class="myHeader">I'm Interested In</h1>

<ul class="hobbies-list">
@foreach (var item in Model.MyHobbies.OrderBy(i => i.Id))
{
    
        <li>
            <div class="align-center">
                    <img class="myHobbyImage" src=@item.Photo />
                    <h4 class="myTextItem">@item.Name</h4>
                    <p class="mtTextDescription">@item.Description</p>
            </div>
        </li>
    
}
</ul>