@{
    ViewData["Title"] = "List of Friends";
    ViewBag.Title = "List of Friends";
}

<div class="text-center">
    <h1>List of Friends</h1>
</div>

<div class="wrapper">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">FriendID</th>
                    <th scope="col">FriendName</th>
                    <th scope="col">Place</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.model)
            {
                <tbody>
                    <tr>
                        <th scope="row">@item.FriendID</th>
                        <td>@item.FriendName</td>
                        <td>@item.Place</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>